@model IEnumerable<SeniorLearnV3.Data.Payment>
@{
    ViewData["Title"] = "Payments";
}

<table class="table">
    <thead><tr><th>Media</th><th>Amount</th><th>Date</th><th>Approved</th></tr></thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>@item.PaymentMethod</td>
            <td>@item.Amount.ToString("c")</td>
             <td>@item.PaymentDate.ToString("d")</td>
            <td>@item.Approved</td>
        </tr>
}
    </tbody>
</table>

<div class="form-group d-flex">
        <a asp-action="Create" asp-route-id="@ViewBag.MemberId" class="btn btn-primary w-auto mr-2">Record Payment</a>   
        <a href="javascript:window.history.back();" class="btn btn-secondary w-auto ml-2">Go Back</a>
</div>